*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.lorem p{
   color: antiquewhite; 
}
.flex{
    display: flex;
}
header{
    padding: 40px 4%;
    border:  rgb(192, 114, 216) solid;
    background-color: blueviolet;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: rgb(182, 180, 180);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: aliceblue;
    transform: scale(1.05);
}
header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 20px;
    
} 

button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(191, 8, 197);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: rgb(104, 8, 60);
    transition: .2s;
}

button:hover{
    box-shadow: 0px 0px 8px rgb(214, 57, 253);
    transform: scale(1.05);
}

section.topo-do-site{
 padding: 100px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
   
}

.topo-do-site h1{
    color: aliceblue;
   line-height: 40px;
}

.topo-do-site h1 span{
    color: blueviolet;
}

.topo-do-site .txt-topo-site p{
    color: aliceblue;
    margin: 30px;
}

.img-topo-site img{
    width: 300px;
    padding: 0px 10px 40px;
    
}


 /* .container{
    display: flex;
    border:  1px #ccc solid;
    padding: 10px;
    background-color: blue;
   
}  */
 /* header > .menus{
  display: flex; 
  align-items: center; 
  justify-content: space-between;
} */


/* header a{
    color: #ccc;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    justify-content: center;
    align-items: center;
    
} */





